@import "mixim";
*{
  padding: 0;
  margin: 0;
}
body{
  font-size: 16px;
  position: relative;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: #FFFFFF;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
header{
  background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);


    .div__div-scroll{
      width: 100%;
      max-width: 1050px;
      position: fixed;
      transition: background-color 0.3s ;
      z-index: 1000;
      background: transparent;
      display: flex;
      justify-content: space-between;
      .scroll{
        background: #333;

      }
    }
    h2{
      padding-top: 350px;
      @include h2;
      max-width: 846px;
    }
}
.section-meet-John {
  background-color: #202020;
    .container__div-wrap{
      display: flex;
      justify-content: space-between;
      .div-wrap__div-left{
        max-width: 540px;
        display: flex;
        flex-direction: column;
        gap: 2.5em;
        h3{
          @include h3;
          color: #FAEB49;
        }
        p{
          @include text;
        }
        ul{
          display: flex;
          justify-content: space-between;
          padding: 0;
        }
      }
    }
}
.section-graphic{
  background-color: #202020;
  h2{
    @include h2;
    color: #FFFFFF;
  }
  .section-graphic__ul-star{
    img{
      width: 100%;
      max-width: 1050px;
    }
    li::before{
      content: url("../images/Soft_Star.png");
      position: absolute;
      right: 70%;
      top: 15%;
      width: 1px;
      height: auto;
    }
    li{
      position: relative;
    }
  }
  .section-graphic__ul{
    display: flex;
    gap: 26px;
    padding-top: 24px;
    img{
      width: 100%;
    }
    li{
      position: relative;
    }
    li:first-child::before{
      content: url("../images/Butterfly.png");
      position: absolute;
      right: 70%;
      top: 15%;
      width: 1px;
      height: auto;
    }
    li:last-child::before{
      content: url("../images/Asterisk 1.png");
      position: absolute;
      right: 70%;
      top: 15%;
      width: 1px;
      height: auto;
    }
  }
}
.section-design{
background-image: url("../images/Rectangle 8.png");
  height: 800px;
  background-size: cover;
  h3{
    @include h3;
    color: #FFFFFF;
    text-align: center;
    padding-top: 115px;
    max-width: 1050px;
  }
}
footer{
  background-color: #202020;
  a{
    border-radius: 139px;
    border: 1px solid #F2F2F2;
    display: flex;
    padding: 42px 140px;
    align-items: center;
    gap: 10px;
    max-width: 780px;
    h3{
      @include h3;
      margin: 0;
    }
    span{
      color: #FFF;
      text-align: center;
      font-family: 'Manrope', sans-serif;
      font-size: 1.5em;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding-right: 24px;
    }
  }
  .div__div-svg{
    display: flex;
    justify-content: center;
    gap: 2.125em;
    padding-top: 163px;
    max-width: 1000px;

  }
  p{
    @include text;
    text-align: center;
    padding-top: 21px;
    padding-bottom:30px;
    max-width: 1000px;
  }
}
.menu-wrapper {
  position: relative;
  display: none;

  .menu-toggle {
    display: none;
  }

  .burger {
    width: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    z-index: 2;
    position: relative;

    span {
      display: block;
      height: 3px;
      width: 100%;
      background-color: black;
      transition: all 0.3s ease;
    }
  }

  .menu-toggle:checked + .burger {
    a:nth-child(1) {
      transform: translateY(10px) rotate(45deg);
    }

    a:nth-child(2) {
      opacity: 0;
    }

    a:nth-child(3) {
      transform: translateY(-10px) rotate(-45deg);
    }
  }

  .menu {
    position: absolute;
    top: 180%;
    left: 0;
    background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
    width: 100%;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    text-align: center;
    display: none; // Initially hide the menu

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: block;
          padding: 10px;
          text-decoration: none;
          background-color: transparent;
          border-radius: 1.25em;
          border: 2px solid #FFF;
          color: #FFFFFF;
          @include text;
          width: 130px;
              svg{
                padding-right: 12px;
              }
        }
      }
    }
  }

  .menu-toggle:checked ~ .menu {
    display: block; // Show menu when checkbox is checked
    transform: translateY(0%);
  }
}
.section-project-bank{
  background-color: #3C3C3C;;
    .grid-wrap{
      display: grid;
      max-width: 1050px;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      li:nth-child(1){
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
      }
      li{
        border-radius: 24px;
        background: #FFFEF2;
        padding: 20px;
        img{
          width: 100%;
        }
      }
    }
}
@media screen and (max-width: 1200px)
{
  body{
    font-size: 14px;
    .section-graphic li svg {
      width: 50%;}
    .grid-wrap li:nth-child(4){
        display: none;
      }
    .menu-wrapper {
      display: block;}
    .div-scroll__ul-hide{
      display: none;
    }
    .section-graphic li svg {
      width: 50%;
    }
  }
}
@media screen  and (max-width: 768px)
{
  body{
    font-size: 10px;
    .section-graphic{
      ul{
        display: flex;
        flex-direction: column;
      }
    }
    .grid-wrap li:nth-child(4){
      display: none;
    }
    .grid-wrap li:nth-child(2){
      display: none;
    }
    .menu-wrapper {
      display: block;
    }
    .div-scroll__ul-hide{
      display: none;
    }
    h2{
      font-size: 48px;
    }
    h3{
      font-size: 20px;
    }
    p{
      font-size: 15px;
    }
    h4{
      font-size: 32px;
    }
    footer
    {
      a{
        padding: 0;

        h3{
          font-size: 20px;
        }
        span{
          font-size: 0.9375em;
        }
      }
    }
  }
}
.scroll{
  background: #333 !important;}

.div-scroll__ul-hide{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  a{
    background-color: transparent;
    border-radius: 1.25em;
    border: 1px solid #FFF;
    color: #FFFFFF;
    @include text;
    svg{
      padding-right: 12px;
    }
  }
}