@mixin text {
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h2{
  color: #FFF;
  font-family: "DynaPuff";
  font-size: 5em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h3{
  color: #FFF;
  font-family: "DynaPuff";
  font-size: 3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
@mixin h4{
  color: #565656;
  font-family: DynaPuff;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  align-self: stretch;
}